.icons-custom-nav{
	/*color: #3c737d;*/
	font-size: 40px;
	position: absolute;
	left:15px;
	top: 15px;
}

.icons-custom{
	font-size: 100px;
	margin-left:10px;
	margin-top: 30px;	
	color: #fff;
}

.text-white{
	color: #fff;	
}

.card-custom{
	background-color: #009688 !important;
	height: 140px;
	cursor: pointer;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

.footer-block{
	margin: 0;
	left: auto;
	right: auto;
	float: left;
	padding: 2px;
}

.footer-block-lineas{
	width: 10%;
}

.icons-custom-footer{
	margin-top: 5px;
	width: 50px;
	height: 50px;
	padding-top: 5px;
}

.icons-custom-footer i{
	font-size: 35px;
	color: #fff;
}

.footer-block p{
	font-size: 14px;
	line-height: 1rem;	
	margin-top: 0;
}

.footer-block h5{	
	font-weight: bold;
	margin: 0;
}

 .footer-block h6{
 	font-size: 1rem;
 	font-weight: bold;
 }

 

 .footer-block-boton{

 }

 @media (max-width: 768px) {
 	.footer-block{
 		width: 50%;
 	}

 	.footer-block-titulo{
 		width: 100%;
 		padding: 20px;
 		text-align: center;
 	}

 	.footer-block-boton{
 		padding: 20px;
 		text-align: center;
 	}
 }

 @media (min-width: 769px) and (max-width: 1199px){

 	.footer-block{
 		width: 16.6666666667%;
 	}
 	
 	.footer-block-titulo{
 		width: 100%;
 		padding: 20px;
 		text-align: center;
 	}

 	.footer-block-boton{
 		width: 100%;
 		padding: 20px;
 		text-align: center;
 	}

 }


 @media (min-width: 1200px) {

 	.footer-block{
		width: 12.5%;
	}

 	.footer-block-titulo{
 		width: 10%;
 	}

 	.footer-block-boton{
 		width: 15%;
 	}
 }